:root {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --mainColor: #2da2f5;
  --labelColor: rgb(52, 48, 171);
  --inputColor: rgb(127, 124, 124);
}

.player-card-container {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  gap: 3.5em;
}

.player-card-container2 {
  max-width: 480px;
  margin: 0 auto;
  margin-top: 8em;
}

.player-card {
  width: 300px;
  border: solid 1px rgb(180, 175, 175);
  position: relative;
  border-radius: 1em;
  border-top: none;
  box-shadow: 1px 8px 20px rgb(167, 167, 167);
}

.picdiv {
  display: flex;
  justify-content: center;
  background-color: var(--mainColor);
  border-top-left-radius: 5em;
  border-top-right-radius: 5em;
  border-bottom-left-radius: 80em;
  border-bottom-right-radius: 80em;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 8px solid var(--mainColor);
  margin-top: -1.5em;
  transition: all 0.5s;
}

.player-card:hover img {
  transform: translate(0, -20px);
}

h3 {
  text-align: center;
  color: var(--mainColor);
}

h4 {
  text-align: center;
  font-weight: 500;
}

span {
  font-weight: 800;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

button {
  border: none;
  margin: 0.5em;
  background-color: var(--mainColor);
  padding: 1em 2em;
  color: white;
  border-radius: 2em;
  font-weight: 800;
}

button:hover {
  text-decoration: underline;
  cursor: pointer;
}

section {
  padding: 1em;
  padding-bottom: 2.5em;
  line-height: 1em;
}

.puppy-options {
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 5em;
}

label {
  font-weight: 700;
  color: var(--labelColor);
}

input {
  margin: 0.5em;
  border-radius: 1em;
  border-color: var(--inputColor);
  padding: 0em;
}

input[type="text"],
[type="url"],
[type="search"] {
  /* font-style: italic; */
  padding: 0.2em;
  color: var(--labelColor);
  text-align: left;
}

select {
  margin-right: 1em;
  border-radius: 1em;
  height: 2em;
  border-color: var(--inputColor);
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--labelColor);
  margin-left: -1.8em;
}
